*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    transition: 0.2s linear;

}
html{
    font-size: 62.5%;
    scroll-behavior: smooth;
}
.counter-wrapper{
    background: url(./images/success.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 10rem 9%;
    margin-top: 5rem;
    position: relative;

}
.counter-wrapper::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    z-index: 1;

}
.counter{
    text-align: center;
    color: #ddd;
    z-index: 2;
    position: relative;
}
.counter::before{
    position: absolute;
    content: '';
    bottom: -2rem;
    left: 50%;
    width: 20%;
    height: .2rem;
    background: #4db7fe;
    transform: translateX(-50%);
}
.counter .count{
    font-size: 5rem;
    margin-bottom: 1rem;

}
.counter p{
    font-size: 1.4rem;
    font-family: 'poppin' sans-serif;
    font-weight: 700;
}