.navbar1{
    padding: 0;
    background:rgb(203, 245, 245);
    border-radius: 2px;
    width: 100%;
  
    /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
}
.nav-links{
    display: flex;
    gap: 2rem;
}
.nav-link, .drop-down1 li{
    list-style: none;
    height: 100%;
    padding: 0.5rem 1.5rem;
    font-weight: 600;
    cursor: pointer;
}
ul li a{
    text-decoration: none;
    /* color: rgb(18, 16, 175); */
}
.drop-down1{
    position: absolute;
    padding: 0.5rem 0;
    margin: 0.5rem -0.5rem;
    background: antiquewhite;
    color: black;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;
    font-size: 12px;
    display: none;
}
.nav-link:hover{
    background-color: rgb(102, 37, 7);
    color: #fff;
    border-radius: 0.5rem;
}
.services:hover .drop-down1{
    display: block;
    color: #efefef;
    
}
.services a {
    display: flex;

}
.services .dropdown-icon{
    font-size: 20px;
    position: relative;
    right: -5px;
    transform: rotate(0deg);
    transition: 0.6s ease-in-out all;

}
.services:hover .dropdown-icon{
    transform: rotate(180deg);

}
.drop-down1 li:hover {
    background-color: rgb(99, 5, 5);
    color: aliceblue;
    border-radius: 0.5rem;
}